<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div align="center">
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<h1>Product Manager</h1>
<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
    <a href="new">Create New Product</a>
</div>

<br/><br/>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>

        <th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.getId()}">Product ID</td>
        <td th:text="${product.getName()}">Name</td>
        <td th:text="${product.getCategory()}">Category</td>
        <td th:text="${product.getPrice()}">Price</td>
(
        <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
            <a th:href="@{'/edit/' + ${product.getId()}}">Edit</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${product.getId()}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>